<h1>Products</h1>
<form (submit)="add()">
    <input type="text" placeholder="name" [(ngModel)]="name" name="name" >
    <input type="number" placeholder="price" [(ngModel)]="price" name="price">
    <button type="submit">Add product</button>
</form>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td><button (click)="remove(product.id)">DELETE</button> </td>
        </tr>
    </tbody>
</table>